<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add medicine</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        form {
            margin-top: 50px;
            display: block;
            margin-left: 300px;
            width: 1000px;
        }
        #name, #form, #quantity, #dosage, #diseases {
            width: 500px;
        }
        .buttons {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h1>Add new medicine to the storage</h1><br>
    <div class="buttons">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
        <a class="btn btn-secondary" th:href="@{/storage}">Back to storage</a>
    </div>
    <form action="/add_new_medicine" method="post">
        <label for="name">Name:</label>
        <div>
            <input type="text" id="name" name="name" oninput="removeDigitsAndSpecialChars(this)" required>
        </div><br>

        <label for="form">Form:</label>
        <div>
            <select id="form" name="form" th:field="${forms}">
                <option th:each="f : ${forms}"
                        th:value="${f}"
                        th:text="${f.name}">Form</option>
            </select>
        </div><br>

        <label for="quantity">Quantity:</label>
        <div>
            <input type="number" id="quantity" name="quantity" required min="0" value="0">
        </div><br>

        <label for="active_ingredients">Active ingredient:</label>
        <div th:each="ai : ${active_ingredients}">
            <div>
                <input id="active_ingredients" type="checkbox" th:id="${'active_ingredient-' + ai.id}"
                    th:name="active_ingredients" th:value="${ai.id}">
                <label th:for="${'active_ingredient-' + ai.id}" th:text="${ai.name}"></label>
            </div>
        </div><br>

        <label for="dosage">Dosage:</label>
        <div>
            <input type="text" id="dosage" name="dosage" required>
        </div><br>

        <label for="diseases">Indication:</label>
        <div>
            <select id="diseases" th:field="${diseases}" multiple="multiple" required>
                <option th:each="d : ${diseases}"
                        th:value="${d}"
                        th:text="${d.name}">Disease</option>
            </select>
        </div><br>

        <div class="submit-btn">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form><br>

    <script type="text/javascript">
        function removeDigitsAndSpecialChars(input) {
            input.value = input.value.replace(/[^A-Za-z\s]/g, '');
        }
    </script>
    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>