<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add medicine</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        .buttons {
            margin-left: 20px;
        }
        form {
            margin-top: 50px;
            display: block;
            margin-left: 300px;
            width: 1000px;
        }
        #name, #forms, #quantity, #dosage, #diseases, #new_active_ingredients {
            width: 500px;
        }
        .lab {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Add new medicine to the storage</h1><br>
    <div class="buttons">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
        <a class="btn btn-secondary" th:href="@{/diseases}">Diseases</a>
        <a class="btn btn-secondary" th:href="@{/storage}">Back to storage</a>
    </div>
    <form th:action="@{/add_new_medicine}" method="post" onsubmit="return validateForm()">
        <label for="name" class="lab">Name:</label>
        <div>
            <input type="text" id="name" name="name" oninput="removeDigitsAndSpecialChars(this)" required/>
        </div><br>

        <label for="forms" class="lab">Form:</label>
        <div>
            <select type="number" id="forms" name="forms">
                <option th:each="f : ${forms}"
                        th:value="${f.id}"
                        th:text="${f.name}">Form</option>
            </select>
        </div><br>

        <label for="quantity" class="lab">Quantity:</label>
        <div>
            <input type="number" id="quantity" name="quantity" required min="0" value="0"/>
        </div><br>

        <label for="active_ingredients" class="lab">Active ingredients:</label>
        <div th:each="ai : ${active_ingredients}">
            <div>
                <input type="checkbox" id="active_ingredients" name="active_ingredients"
                       th:id="${ai.id}" th:name="active_ingredients" th:value="${ai.id}"/>
                <label th:for="${ai.id}" th:text="${ai.name}"></label>
            </div>
        </div>
        <label for="new_active_ingredients">Add new ingredients:</label>
        <div>
            <input type="text" id="new_active_ingredients" name="new_active_ingredients"
                   oninput="removeDigitsAndSpecialChars(this)">
        </div><br>

        <label for="dosage" class="lab">Dosage:</label>
        <div>
            <input type="text" id="dosage" name="dosage" placeholder="how to use it" required/>
        </div><br>

        <label for="diseases" class="lab">Indication:</label>
        <div th:each="d : ${diseases}">
            <div>
                <input type="checkbox" id="diseases" name="diseases" th:id="${'disease-' + d.id}"
                    th:name="diseases" th:value="${d.id}"/>
                <label th:for="${'disease-' + d.id}" th:text="${d.name}"></label>
            </div>
        </div><br>

        <div class="submit-btn">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form><br>

    <script type="text/javascript">
        function removeDigitsAndSpecialChars(input) {
            input.value = input.value.replace(/[^A-Za-z\s]/g, '');
        }

        function validateForm() {
            var diseasesCheckboxes = document.getElementsByName('diseases');
            if (!hasCheckedCheckbox(diseasesCheckboxes)) {
                alert('Please select at least one option in disease group');
                return false;
            }
            return true;
        }

        function hasCheckedCheckbox(checkboxes) {
            return Array.from(checkboxes).some(checkbox => checkbox.checked);
        }
    </script>
    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>