<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        .buttons {
            margin-left: 20px;
        }
        form {
            margin-top: 50px;
            display: block;
            margin-left: 250px;
            width: 1500px;
        }
    </style>
</head>
<body>
    <h1>Patient's examination form</h1>
    <div class="buttons">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
        <a class="btn btn-secondary" onclick="goBack()">Back to form</a>
    </div>

    <form>
        <h3 th:text="'Name: ' + ${patient.name}"></h3><br>
        <h3 th:text="'Age: ' + ${patient.age}"></h3><br>
        <h3>Symptoms:
            <span th:each="s, iter : ${exam_form.symptoms}">
                <span th:text="${s.name}"/>
                <span th:if="${!iter.last}">,</span>
            </span>
        </h3><br>
        <h3>Diagnosis:
            <span th:each="d, iter : ${exam_form.diseases}">
                <span th:text="${d.name}"/>
                <span th:if="${!iter.last}">,</span>
            </span>
        </h3><br>
        <h3>Diagnostic procedures:
            <span th:each="p, iter : ${exam_form.diagnosticProcedures}">
                <span th:text="${p.name}"/>
                <span th:if="${!iter.last}">,</span>
            </span>
        </h3><br>
        <h3>Treatment:
            <span th:each="m, iter : ${exam_form.medicines}"><br>
                <span th:text="'- ' + ${m.name} + '(' + ${m.form.getName()} + '), ' + ${m.dosage}"/>
                <span th:if="${!iter.last}"></span>
            </span>
        </h3><br>
        <h3>Additional recommendations: <br>
            <span th:text="${exam_form.notes}"/>
        </h3><br>
    </form>

    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>
    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>