<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        .buttons {
            margin-left: 20px;
        }
        .report {
            margin-top: 50px;
            display: block;
            margin-left: 250px;
            width: 1000px;
        }
    </style>
</head>
<body>
    <h1>Doctor's report</h1>
    <div class="buttons">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
        <a class="btn btn-secondary" onclick="goBack()">Back to form</a>
    </div>

    <div class="report">
        <h3>
            <span th:each="r, iterStatus : ${report}">
                <span th:text="${r.toString()}"></span><br>
                <span th:if="${!iterStatus.last}"></span><br>
            </span>
        </h3>
    </div>

    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>
    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>