<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit the medicine:</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        .main-page-button {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Edit the medicine</h1>

    <div class="main-page-button">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
    </div>
    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>