<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient examination form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/dist/css/bootstrap.css}">
    <style>
        h1 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
        }
        .main-page-button {
            margin-left: 20px;
        }
        form {
            margin-top: 50px;
            display: block;
            margin-left: 350px;
            width: 1000px;
        }
        .lab {
            font-size: 20px;
            font-weight: bold;
        }
        .inp {
            width: 500px;
        }
    </style>
</head>
<body>
    <h1>Patient examination form:</h1>
    <div class="main-page-button">
        <a class="btn btn-secondary" th:href="@{/}">Main page</a>
    </div>
    <form th:action="@{/fill_patient_exam_form}" method="post" onsubmit="return validateForm()">
        <label for="name" class="lab">1. Name:</label>
        <div>
            <input type="text" id="name" name="name"
                   oninput="removeDigitsAndSpecialChars(this)" class="inp" required>
        </div><br>

        <label for="age" class="lab">2. Age:</label>
        <div>
            <input type="number" id="age" name="age" class="inp" required min="0"/>
        </div><br>

        <label for="symptoms" class="lab">3. Symptoms:</label>
        <div th:each="s : ${symptoms}">
            <div>
                <input id="symptoms" type="checkbox" th:id="${'symptom-' + s.id}"
                       th:name="symptoms" th:value="${s.id}">
                <label th:for="${'symptom-' + s.id}" th:text="${s.name}"></label>
            </div>
        </div><br>

        <label for="diseases" class="lab">4. Diagnosis:</label>
        <div th:each="d : ${diseases}">
            <div>
                <input id="diseases" type="checkbox" th:id="${'disease-' + d.id}"
                       th:name="diseases" th:value="${d.id}">
                <label th:for="${'disease-' + d.id}" th:text="${d.name}"></label>
            </div>
        </div><br>

        <label for="procedures" class="lab">5. Diagnostic Procedures:</label>
        <div th:each="p : ${procedures}">
            <div>
                <input id="procedures" type="checkbox" th:id="${'procedure-' + p.id}"
                       th:name="procedures" th:value="${p.id}">
                <label th:for="${'procedure-' + p.id}" th:text="${p.name}"></label>
            </div>
        </div><br>

        <label for="medicines" class="lab">6. Treatment:</label>
        <div th:each="m : ${medicines}">
            <div>
                <input id="medicines" type="checkbox" th:id="${'medicine-' + m.id}"
                       th:name="medicines" th:value="${m.id}">
                <label th:for="${'medicine-' + m.id}"
                       th:text="${m.name} + ' (' + ${m.form.name} + ', ' + ${m.dosage} + ')'"></label>
            </div>
        </div><br>

        <label for="notes" class="lab">7. Additional recommendations:</label>
        <div>
            <textarea id="notes" name="notes" rows="6" class="inp"></textarea>
        </div>

        <div>
            <button class="btn btn-primary btn-sm" type="submit">Save</button>
        </div>
    </form>

    <script type="text/javascript">
        function removeDigitsAndSpecialChars(input) {
            input.value = input.value.replace(/[^A-Za-z\s]/g, '');
        }

        function validateForm() {
            var symptomsCheckboxes = document.getElementsByName('symptoms');
            var diseasesCheckboxes = document.getElementsByName('diseases');
            var proceduresCheckboxes = document.getElementsByName('procedures');
            var medicinesCheckboxes = document.getElementsByName('medicines');

            if (!hasCheckedCheckbox(symptomsCheckboxes) ||
                !hasCheckedCheckbox(diseasesCheckboxes) ||
                !hasCheckedCheckbox(proceduresCheckboxes) ||
                !hasCheckedCheckbox(medicinesCheckboxes)) {
                alert('Please select at least one option in each checkbox group.');
                return false;
            }
            return true;
        }

        function hasCheckedCheckbox(checkboxes) {
            return Array.from(checkboxes).some(checkbox => checkbox.checked);
        }
    </script>

    <script th:src="@{webjars/bootstrap/5.3.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>